name: Deploy Next.js App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:

     
      - name: Checkout repository
        uses: actions/checkout@v3

    
      - name: Install dependencies
        run: npm install

     
      - name: Build project
        run: npm run build

     
      - name: Sync project files to server app directory
        run: |
          rsync -av --delete ./ /home/deploy/fyers/new_next/

    
      - name: Restart PM2
        run: |
          cd /home/deploy/fyers/new_next
          pm2 reload ecosystem.config.js --only fyers-next || pm2 start ecosystem.config.js --only fyers-next
          pm2 save


      - name: PM2 status
        run: pm2 list
